/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #e5e7fb;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #081c15;
}

p, input, li, table, label {
  font-family: sans-serif;
  color: #081c15;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #081C15;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, footer, .secondary {
  background-color: #ffffff;
}

article, footer, .secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

nav {
  height: 50px;
  background-color: ff80ff;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #081C15;
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input,
.search button {
  font-size: 1.6rem;
    height: 32px;
  }

.search input[type="search"] {
  flex: 3;
}

.search button {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

.search label {
  width: 0;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #004D38;
  color: #FFFFFF;
  border-collapse: collapse;
  border: 1px solid #081C15;
}

table caption {
  color: #081c15;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid #081C15;
}

tbody tr:nth-child(odd) {
  background-color: #d8f3dc;
  color: #081C15;
}

/* styling content images and audio */

img, audio {
  display: block;
  margin: 0 auto;
}

audio {
  width: 500px;
}

button {
  display: block;
  float: left;
  height: 100%;
  cursor: pointer;
  border: 0;
}

button:hover, button:focus {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.transcript-container {
  width: 480px;
  margin: 10px auto;
  border: 2px solid #081C15;
  min-height: 38px;
}

.transcript {
  background-color: #e5e7fb;
  color: #081C15;
  height: 0;
  overflow: auto;
  padding: 0 10px;
}

.transcript * {  
  width: 100%;
  color: #081C15;
}

.transcript-container button {
  width: 100%;
  height: 36px;
  background-color: #081C15;
  color: white;
}


/* Comments styling */

.comments {
  background-color:#e5e7fb;
  padding: 10px;
  border: 1px solid #081C15;
}

.show-hide {
  cursor: pointer;
}

.comments h2 {
  font-size: 2rem;
}

.comments h2:nth-of-type(2) {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input, 
.comment-form button {
  margin-left: 1rem;
  flex: 6;
}

.show-hide {
  text-align: center;
  width: 150px;
}

.comment-form input, .comment-form label, 
.comment-form button, .show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form button, .show-hide {
  background: #081C15;
  border: 0;
  color: white;
}

.comment-form div[id="submit"] {
  margin: 0 auto;
}

.comment-form button {
  display: block;
  margin: 0 3rem 1rem;
  float: right;
  padding: 0 2rem;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

.comment-container li p span {
  font-size: 0;
}

/* Skip to main content */
.skip-to-content-link {
  font-size: 0;
}

.skip-to-content-link-visible {
  font-size: 18px;
  background-color: #eaf6f5;
}